body{
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


#keys{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    grid-gap: 7px;
    padding: 10px;
}

#container{
    background-color: hsla(0, 0%, 0%, 0.347);
    border-radius: 20px;
    max-width: 500px;
    overflow: hidden;
    padding: 10px;

}

#display{
    width:100%;
    height:5rem;
    border: none;
    background-color: rgba(0, 0, 0, 0.547);
    color:white;
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: bold;


}

button{
    height:80px;
    width:80px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    background-color: hsla(0, 0%, 0%, 0.953);
    color:white;
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: bold;

}

button:hover{
    background-color: hsla(0, 0%, 0%, 0.616);
}
button:hover(:active){
    background-color: hsla(0, 0%, 0%, 0.616);
}

.symbol{
    background-color: rgb(239, 150, 53);
}
.symbol:hover{
    background-color:  rgb(239, 174, 43);
}
.symbol:hover(:active){
    background-color:  rgb(239, 174, 43);
}

.alter{
    background-color: rgb(69, 69, 203);
}
.alter:hover{
    background-color: rgb(14, 5, 122);
}

.alter:hover(:active){
    background-color: rgb(14, 5, 122);
}